*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

  /* header */
.wrapper{
    background-image: url("../images/Rectangle1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 480px;
    min-width: 320px;
    height: 810px;  
    margin: auto;
    display: block;    
    width: 100%;        
} 

  /* nav */
.nav{
    text-align: center;
    padding-top: 25px;
}

.nav>button{
    font-size: 16px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 2.2;
    background-color: unset;
    width: 90px;
    height: 40px;
    padding: 0 10px;
    border: none;
}

.nav>button:focus{
    border-radius: 20px;
    border: 3px white solid;
}

.container{
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
}

  /* title */
.subtitle-header{
    padding-top: 200px;
    font-size: 26px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
  }

.class{
    display: none;
  }
  
.title-header {
    padding-top: 50px;
    font-size: 32px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
  }

    /* text-header */
.paragraf-header {
    padding-top: 26px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
  }
  
.button-header{
    margin-top: 26px;
    font-size: 16px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    height: 42px;
    width: 100%;
    line-height: 1.2;
    text-align: center;
    background-color: #ff4e50;
    border: none;
    border-radius: 20px;
  }

  /* section */

section{
  max-width: 310px;
  width: 100%;
  margin: 0 auto;
}

.title-section {
  margin-top: 70px;  
  font-size: 24px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

 /* list-section */
 ul>li{
  list-style-type: none;
  margin-top: 35px;
}

.name {
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-align: center;
}

.block-section{
  height: 150px;
  position: relative;   
} 

.img-section{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
 

.img-inner{
  height: 41px;
  width: 41px; 
  border: 4px solid white;
  border-radius: 50%;
  position: absolute;
  left: 57%;
  top: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.bg-color1{
  background-color: rgb(255, 78, 80);
}

.bg-color2{
  background-color: rgb(28, 215, 173);
}

.bg-color3{
  background-color: rgb(255, 165, 7);
}

.bg-color4{
  background-color: rgb(78, 115, 219);
}
  
.p-section{
  margin-top: 20px;
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(102, 102, 102);
  line-height: 1.2;
  text-align: center;
}

  /* footer */
.button-footer{
  margin: 30px 0 60px;
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(255, 78, 80);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  background-color: unset;
  border: 3px rgb(255, 78, 80) solid;
  height: 42px;
  border-radius: 20px;
}



@media screen and (min-width: 480px) and (max-width: 960px) {

     /* header */ 
  .wrapper{
      background-image: url("../images/Tablet.jpg");
      max-width: 960px;
      min-width: 480px; 
  }
  .container{
      max-width: 80%;
      width: 100%;
      margin: 0 auto;
  }

     /* nav */
  .nav{
      text-align: right;
  }
  .subtitle-header{
      padding-top: 0px;
      font-size: 26px;
  }

  .navigation{
     padding-top: 60px;
     display: inline-block;
  }

  .none{
     display: none;
  }

  /* title */
  .between{
    display: flex;
    justify-content: space-between;
  }

  .title-header{
    padding-top: 160px;
    font-size: 52px;
  }


  /* text-header */
  .paragraf-header{
     padding-top: 50px;
     font-size: 24px;
  }

  .button-header{
    margin-top: 40px;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: 260px;
  }

  /* section */
  section{
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
  }

  .center{
    display: flex;
    justify-content: center;
  }

  /* list-section */
  .list-section{
    display: block;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .img-section-inner{
    left: 62%;
  } 

  .p-section{
    height: 100px;
    width: 250px;
  }

  /* footer */
  .button-footer{
    margin-top: 40px;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: 260px;
  }

}

@media screen and (min-width: 960px) {

  /* header */
  header{
    background-image: url("../images/Rectangle2.png");
    background-position: center;
    background-size: cover;
    max-width: 100%;
    min-width: 960px;
    width: 100%;  
    height: 700px;
  }

  .wrapper{
    background-image: url("../images/Vector.png");
    max-width: 100%;
    min-width: 960px;
    height: 700px;
  }

   /* nav */
  .container{
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
  }

  .nav{
    font-size: 16px;
    text-align: right;
  }
  .subtitle-header{
    padding-top: 0px;
    font-size: 26px;
  }

  .navigation{
    padding-top: 60px;
    display: inline-block;
  }

  .none{
    display: none;
  }

  /* title */
  .between{
    display: flex;
    justify-content: space-between;
  }

  .title-header{
    padding-top: 120px;
    font-size: 52px;
  }

  .title-box{
    width: 600px;
    margin: 0 auto;
  }

  /* text-header */
  .paragraf-header{
    padding-top: 30px;
    font-size: 24px;
  }

  .button-header{
    margin-top: 40px;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: 260px;
  }

  /* section */
  section{
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
  }

  .center{
    display: flex;
    justify-content: center;
  }

  /* list-section */
  ul{
    display: flex;
    justify-content: space-evenly;
  }

  .img-section-inner{
    left: 62%;
  } 

  .p-section{
    height: 100px;
    width: 250px;
  }

  /* footer */
  .button-footer{
    margin-top: 40px;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: 260px;
  } 
}