$font-Montserrat: 'Montserrat', sans-serif;
$font-Kaushan: 'Kaushan Script';
$font-Roboto: "Roboto";
$color-white: rgb(255, 255, 255);
$color-yellow: rgb(252, 227, 138);
$color-dark: rgb(51, 51, 51);
$color-grey: rgb(153, 153, 153);
$color-light-gray: rgb(187, 187, 187); 
$color-coral: rgb(243, 129, 129);
$color-turquoise:rgb(149, 225, 211);
$color-mercury: rgb(229, 229, 229);
$color-gradient-coral: linear-gradient( 0deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);