$font-Montserrat: 'Montserrat', sans-serif;
$font-Kaushan: 'Kaushan Script';
$font-Roboto: "Roboto";
$color-white: rgb(255, 255, 255);
$color-yellow: rgb(252, 227, 138);
$color-dark: rgb(51, 51, 51);
$color-grey: rgb(153, 153, 153);
$color-coral: rgb(243, 129, 129);
