/* Footer */
.footer {
    border-top: 2px $color-mercury solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    &__info a {
        color: $color-coral;
        text-decoration: none;
    }
    /*footer button*/ 
    .footer-button {
        height: 40px;
        width: 380px;
        border: $color-mercury 2px solid;
        position: relative;
    }
    
    input[type="email"] {
        width: 230px;
        color: $color-dark;
        border: none;
        font-style: italic;
        padding: 10px;
    }
    
    input[type="email"]::-webkit-input-placeholder { 
        color: $color-light-gray; 
      } 
    
    input[type="submit"] {
        font-size: 14px;
        font-family: $font-Montserrat;
        color: $color-white;
        font-weight: bold;
        text-transform: uppercase;
        background-color: $color-turquoise;
        position: absolute;
        width: 150px;
        height: 40px;
        right: -2px;
        top: -2px;
        border: solid transparent;
    }
}





