.header {
    width: 100%;
    height: 1000px;
    background: url('../images/img/picture-min.png') no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0 auto;
}

/* header image retina 2X  */
@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .header {
        width: 100%;
        height: 1000px;
        background: url('../images/img/picture@2x-min.png') no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        background-size: cover;
        margin: 0 auto;
    }
}

/* header container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 20px;
}

/* logo */

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    &__logo {
        font-size: 30px;
        font-family: $font-Montserrat;
        font-weight: bold;
        text-align: left;
        text-decoration: none;
        color: $color-white;
        &:hover {
            color: $color-yellow;
            transition: 200ms linear;
        }        
    }
}

/* nav header */
.inner-nav__link {
    display: inline-block;
    font-size: 14px;
    font-family: "Montserrat";
    color: $color-white;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    margin-left: 60px;
    position: relative;
    padding-bottom: 12px;
    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color: $color-yellow;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
        display: none;
    }
    &:hover {
        color: $color-yellow;
        transition: 200ms linear;
    }
    &--cls-1:hover {
        fill: $color-yellow;
    }
    &:hover::after {
        display: block;
        transition: 200ms linear;
    }
}

/* List-main */
.list-main {
    max-width: 850px;
    padding-top: 100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__title {
        margin-top: 50px;
        font-size: 150px;
        font-family: $font-Montserrat;
        color: $color-white;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        line-height: 0.933;
    }
    &__subtitle {
        font-size: 72px;
        font-family: $font-Kaushan;
        color: $color-white;
        text-align: center;
        line-height: 1.2;
    }
}

/* button header */
.button {
    height: 40px;
    width: 160px;
    background-color: unset;
    border: 3px $color-white solid;
    font-size: 15px;
    font-family: "Montserrat";
    color: $color-white;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
    &:hover {
        color: $color-yellow;
        border: 3px $color-yellow solid;
        transition: 200ms linear;
    }
}

