/* Section */
.sect {
    margin: 80px 0 80px;
    display: flex;
    justify-content: space-between;
}

.content-item {
    width: 380px;
    height: 470px;     
    position: relative;
    background-color: $color-turquoise;
    &:hover .content-img img{
        opacity: 0.1;   
    }
    &:hover .content-img {
        transform: translateX(-10px)translateY(-10px)
    }
    &:hover .content-link {
        opacity: 1;
    }
}

.content-img {      
    transition: transform 200ms linear;
    background: $color-gradient-coral;
    &__image {
        display: block;
    }       
}

/* Social links */
.social {
    display: flex;
    justify-content: center;
}

.social-link:hover .social-link__cls-1 {
    fill: $color-white;
}

.social-link {
   border-right: 1px solid $color-coral;
   background-color: $color-yellow;
   display: block;
   height: 56px;
   width: 56px;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

.social-link:hover {
   background-color: $color-turquoise;
   transition: 200ms linear;
}

.content-link {
    width: 100%;
    position: absolute;
    top: 50%;
    opacity: 0;
    transform: translateY(-50%);     
}

/* card info */
.card-info__name {
   font-size: 14px;
   font-family: $font-Montserrat;
   line-height: 1.2; 
   color: $color-dark;
   text-transform: uppercase;
   text-align: center;
}

.card-info__text {
   color: $color-grey;
   font-style: italic;
   text-align: center;
}